accelerate==0.29.2
datasets==2.20.0
huggingface-hub==0.22.2
numpy==1.22.4
safetensors==0.4.2
tokenizers==0.19.1
torch @ http://download.pytorch.org/whl/cu113/torch-1.11.0%2Bcu113-cp38-cp38-linux_x86_64.whl
transformers==4.40.0